<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rrold.name %>
</p>

<p>
  <b>Url:</b>
  <%= @rrold.url %>
</p>


<%= link_to 'Edit', edit_rrold_path(@rrold) %> |
<%= link_to 'Back', rrolds_path %>
